  # ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Dataset (Don't upload dataset)
# ===============================
train/
test/

# ===============================
# Temporary notebooks
# ===============================
envchek.ipynb

# ===============================
# Demo videos
# ===============================
*.mp4

# ===============================
# Operating System files
# ===============================
.DS_Store
Thumbs.db